[submodule "gpcontrib/gpcloud/test/googletest"]
	path = gpcontrib/gpcloud/test/googletest
	url = https://github.com/google/googletest.git
[submodule "gosrv"]
	path = gosrv
	url = git@github.com:htner/Hieroglyph-cloud.git
[submodule "proto"]
	path = proto
	url = git@github.com:htner/Hieroglyph-proto.git
